body, html {
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
}
.topnav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 100%;
}
#leftnav {
    display: flex;
}
#leftnav #title {
    font-size: 20px;
    font-weight: bold;
}
#ae {
    font-size: 10px;
    opacity: 0.5;
    margin-left: 4px;
}
.fas, .fab, .far {
    font-size: 1.1rem;
    color: #2d2e3a;
    opacity: 0.7;
}
.fa-bars {
    margin: 0 1rem;
}
.fa-youtube {
    color: red;
    margin-right: 5px;
    font-size: 1.8rem;
    margin-top: -5px;
}

#rightnav {
    display: flex;
    /* width: 100%; */
    justify-content: flex-end;
    align-items: center;
}
#rightnav i {
    margin-right: 1.4rem;
}

.fa-adn {
    font-size: 1.9rem;
    color: rgb(129, 21, 126);
}
/* .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
} */
/* .searchTerm {
    margin: 0 auto;
    width: 50%;
    height: 25px;
}
button {
    background: #ddd;
    border: 0;
    height: 25px;
    font-size: 1.2rem;
    opacity: .7;
    display: flex;
    justify-content: flex-end;
} */
.search-container {
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.search-container .searchTerm {
    width: 33rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border: 1px solid rgba(221, 221, 221, 0.26);

}
.search-container button {
    padding: .4rem 2rem;
    border: 1px solid rgba(221, 221, 221, 0.26);
}
main, aside, .comment {
    background-color: rgba(221, 221, 221, 0.315);
    padding: 1.5em;
}
.mainVideo {
    width: 100%;
    height: 20em;
}
h1, h2, h3 {
    padding: 20px 0;
}
.stats {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}
.stats p {
    font-size: 13px;
    opacity: .7;
    margin-top: 3px;
}
.cta {
    display: inline-flex;
    margin-right: 1rem;
}
.cta p {
    margin-left: 8px;
}
.fa-thumbs-down {
    transform: scaleX(-1);
}
#channelDes {
    width: 100%;
    padding: 1.5em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    display: flex;
}
.avatar img {
    border-radius: 50%;
    margin-right: 1rem;
}
.avatar p {
    align-self: center;
    font-weight: bold;
    font-size: 14px;
}
.avatar span {
    font-weight: 400;
    font-size: 12px;
    opacity: .8;
}
.fa-check-circle {
    font-size: 11px;
}
.subs {
    display: flex;
}
.subs button {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    font-weight: 550;
    margin-right: 15px;
    border: 0;
}
.fa-bell {
    align-self: center;
}
#description, #show {
    font-size: 14px;
    margin-left: 4.4em;
    line-height: 1.5;
}
#show {
    font-weight: bold;
    opacity: .5;
    font-size: 12.5px;
    padding-top: 2em;
}
.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -40px;
    margin-bottom: -35px;
}
#autoplay {
    display: inline-flex;
}
#autoplay p {
    font-size: 12.5px;
    opacity: .6;
    margin-right: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -8px;
  right: 0;
  bottom: 0;
  background-color: rgb(116, 101, 101);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 0;
  bottom: -4px;
  background-color: rgb(218, 218, 218);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: -1px 5px 15px rgba(80, 80, 80, 0.329)
}

input:checked + .slider {
  background-color: #f77a13;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Sidebar stylesheet */

.playlist {
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
}
.title, .channelTitle, .liveNow {
    margin-top: -1.2rem;
    margin-left: .5rem;
    line-height: 1.4;
}
.title {
    font-size: 13.5px;
    font-weight: bold;
    color: #2d2e3a;
}
.channelTitle {
    font-size: 12.5px;
    opacity: .7;
}
footer {
    padding: 1.5em;
}
.liveNow {
    color: rgb(216, 12, 12);
    font-size: 12px;
    border: 1px solid rgb(216, 12, 12);
    padding: 3px;
    border-radius: 4px;
}
.vid1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: 15px;
}
#showmore {
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 1px solid rgb(14, 118, 255);
    color: rgb(14, 118, 255);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
#comment-head {
    display: flex;
    margin-top: -30px;
}
#comment-head i {
    margin-left: 30px;
}
#sort {
    font-size:14px;
    opacity: .7;
    font-weight: bold;
}
.publicComment {
    display: flex;
    padding: 30px 0;
}
.comAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    padding: 20px;
    border: 1px solid rgb(189, 11, 11);
    border-radius: 50%;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(189, 11, 11);
}
#addCom {
    font-size: 14px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    margin-bottom: 20px;
    width: 100%;
    opacity: .7;
}
.comImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comBlock {
    margin-left: 20px;
}
.comBlock h3 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 10px;
    
}
.comBlock span {
    opacity: .5;
    font-weight: 400;
}
.comBlock p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.comBlock .cta i, .comBlock .cta p {
    opacity: .5;
    margin-right: 10px;
    font-size: 13px;
}
.replies {
    display: flex;
    color: rgba(18, 96, 241, 0.952);
    font-weight: bold;
    font-size: 11px;
}
.fa-sort-down {
    margin-right: 5px;
    color: rgba(18, 96, 241, 0.952);
    opacity: 1;
    font-size: 15px;
} 

@media screen and (min-width: 900px) {
  .wrap {
      display: flex;
      flex-wrap: wrap;
  }
  main {
      width: 65%;
      height: 50%;
  }
  .mainVideo {
      width: 100%;
      height: 30em;
  }
  aside {
      width: 27.88%;
      padding-top: 3%;
  }
  .comment {
      width: 65%;
      margin-top: -30.1em;
    padding-top: 3%;
    }
.publicComment {
    padding-bottom: 0;
}
}
@media screen and (max-width: 500px) {
form {
    display: none;
}
.search-container button {
    background-color: transparent;
    border: 0;
    font-size: 15px;
    margin-left: 80px;
}
}